* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
  --orange: #ff7143;
  --blue: #6161ed;
  --background: #f9f6fe;
}
body {
  font-family: "Nunito", sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
}
.container--page {
  padding: 0;
}
/* Nav */
.nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lista {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--blue);
  padding: 80px 0;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 2.5rem;
  list-style: none;
  transform: translate(-100%);

  transition: transform 0.3s;
}
.nav__list--show {
  transform: translate(0);
}
.nav_link {
  text-decoration: none;
  color: #f9f6fe;
  font-weight: 500;
}
.page__main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.page_figure {
  order: -1;
  padding: 20px 0;
}
.img1 {
  width: 100%;
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
.page_texts {
  display: grid;
  gap: 1.5rem;
  text-align: center;
  padding-bottom: 120px;
}
.page_title {
  font-size: 2rem;
}
.page_parrafo {
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.page_boton {
  background-color: bisque;
  color: rgb(67, 105, 138);
  text-decoration: none;
  padding: 16px 70px;
  justify-self: center;
  border-radius: 6px;
}
.about__conteiner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.img_ {
  display: block;
  margin: 0 auto;
  width: 90%;
  aspect-ratio: 1/1;
  max-width: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.about_texts {
  text-align: center;
  display: grid;
  gap: 1.5rem;
}
.subtitulo {
  text-align: center;
  font-size: 2.1rem;
}
.parrafio {
  line-height: 1.5;
  font-weight: 500;
}
.learn__articles {
  margin-top: 3rem;
  display: grid;
  gap: 3rem;
}
.learn__article {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
.img {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  width: 60%;
}
.port_imagen {
  display: grid;
  gap: 1.3rem;
  margin-bottom: 3rem;
}
.portafolio {
  text-align: center;
}
.portafolio__texts {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.port__boton {
  background-color: bisque;
  color: rgb(67, 105, 138);
  text-decoration: none;
  padding: 16px 70px;
  justify-self: center;
  border-radius: 6px;
}

.footer_contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}
.footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: antiquewhite;
  background-color: var(--color);
}
.footer_item:nth-of-type(1) {
  --color: #a1bbf8;
}
.footer_item:nth-of-type(2) {
  --color: #f87e7e;
}
.footer_item:nth-of-type(3) {
  --color: #a1f8a4;
}
.footer_item:nth-of-type(4) {
  --color: #f8a1e1;
}

.footer_img {
  width: 28px;
}

@media (min-width: 768px) {
  .lista {
    position: static;
    background-color: transparent;
    padding: 0%;
    display: flex;
    gap: 2rem;
    list-style: none;
    transform: unset;
    transition: none;
  }

  .lista--show {
    transform: unset;
  }
  .nav_link {
    color: var(--orange);
  }

  .nav {
    width: 50%;
    margin: 0 auto;
  }

  .page__main {
    flex-direction: row;
    gap: 40px;
    min-height: 550px;
    align-items: center;
  }

  .page_figure {
    order: 0;
    padding: 0;
    width: 46%;
  }

  .img1 {
    max-width: 50%;
  }
  .page_texts {
    width: 54%;
    text-align: justify;
    gap: 2rem;
    padding-bottom: 0;
  }

  .page_title {
    font-size: 3rem;
  }
  .page_parrafo {
    margin-bottom: 0;
  }

  .page_boton {
    justify-self: start;
  }

  .about__conteiner {
    flex-direction: row;
  }
  .page_figure {
    width: 30%;
  }

  .img_ {
    width: 100%;
  }
  .about_texts {
    width: 70%;
    text-align: justify;
    place-content: center;
  }
  .subtitulo {
    text-align: inherit;
    font-size: 3rem;
  }

  .Habilidades {
    text-align: center;
  }

  .learn__articles {
    gap: 1.5rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .img {
    max-width: 420px;
  }

  .img1 {
    max-width: 270px;
  }

  .learn__article {
    gap: 1.5;
  }

  .portafolio {
    text-align: start;
  }

  /* 
  revisaaaaaaaaar */

  .portafolio__main {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  .portafolio__img {
    width: 45%;
  }

  .port_imagen {
    max-width: 200px;
  }

  .portafolio__texts {
    width: 55%;
    place-content: center;
    margin-bottom: 0;
  }

  .port__boton {
    justify-self: start;
  }

  .footer {
    text-align: center;
    height: 350px;
  }
}
